*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: auto;
    overflow:scroll;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white

}
body, html {
    height: 100%;

/* The hero image */
.hero-image {
    background-image: url("Scanned Documents.jpg");
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
  }

  .main-txt{
    padding-bottom: 20%;
    padding-right: 500px;
    line-height: 2.5;
  }

  .my-btn{
    background-color: orange ;
    color: beige;
    padding: 7px;
    font-size: x-large;
    float:right;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: none
  }

  .my-btn:hover{
    background-color: #aec8d0;
    transition: 0.8s

  }

  /* centres carousel in webpage*/
  .carousel-inner{
    margin-right: 100px; /* 1 */
    margin-left: 100px; /* 1 */
    width: fit-content;
    box-sizing: content-box;

  }
.carousel div img { 
  max-width:70% ;
  max-height:70%;
  width:auto;
  margin: auto; 
  box-sizing:border-box;
  display: block;
}

.carousel-indicators{
  padding-bottom: 40px;
}

.carousel-control-next, .carousel-control-prev{
 margin: 200px;
}

.header-txt{
  text-align: center;
  color: orange;
  padding-top: 50px;
  padding-bottom: 20px;
}

.main-p{
  text-align: center;
  color:orange;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1.8;
  
}

.class-btn{
  background-color: orange ;
  color: beige;
  padding: 7px;
  margin-right: 200px;
  margin-left: 300px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 2px;
  border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-size: large;
}

.class-btn:hover{
  background-color: #aec8d0;
  transition: 0.8s

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 40%;
  bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: beige;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #aec8d0;
  transition: 0.8s
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: orange;
  transition: 0.8s
}

.class-txt{
  text-align: left;
  color: orange;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  line-height: 1.8;
}


